/* Extra Large desktop :1920px. */
@media (min-width: 1367px) and (max-width: 2100px){
   .out_text {
        margin-top: -60%;
        margin-left: 30px;
    } 
}
@media (min-width: 1367px) and (max-width: 1920px) {
.banner-info {
	padding:30px;
}
.collapse-menu ul li ul {
    max-height: unset;
}
.collapse-menu ul li ul li {
    margin-bottom: 11.3px;
}


}


/* Extra Large desktop :1920px. */
@media (min-width: 992px) and (max-width: 1920px) {


}

/* Large desktop :1200px. */
@media (max-width: 1800px) {
	
.slider-single {
	height:485px;
}

}

/* Large desktop :1200px. */
@media (max-width: 1600px) {
	
.slider-single {
	height:430px;
}

}

/* Large desktop :1200px. */
@media (max-width: 1366px) {
	
.slider-single {
	height:393px;
}

}

@media (max-width: 1199px) {
.mt-md-40 {margin-top:40px;}

.vm-dropdown {
	display:none;
}
.search-box.style-2 input {
	width:55%;
}
.search-box.style-2 button {
    width:20%;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.product-action {
    padding: 20px 0px;
}
.product-action a.add-to-cart {
    width: 100px;
    margin: 0 5px;
}
.banner-sm .banner-info p {
    font-size: 18px;
    line-height: 30px;
}
}

@media (max-width: 1600px) {

.collapse-menu {}
.collapse-menu > ul > li > ul {
	padding: 12px 0;
}
.collapse-menu > ul > li > a {
    padding: 7px 10px 5px 15px;
}
.collapse-menu > ul > li > ul > li {
	padding:0 8px;
}
.collapse-menu ul li ul li a {
	font-size:13px;
}
.collapse-menu ul li ul li a i {
    margin-right: 10px;
}

}

@media (max-width: 1400px) {
	
.collapse-menu > ul > li > a {
    font-size:12px;
}

}


@media (min-width: 1200px) and (max-width: 1600px) {
.container {
	padding:0;
}
.search-box button {
	font-size:13px;
}
.slider-caption h2 {
	font-size:48px;
}
.banner-info p {
    font-size: 18px;
    line-height: 30px;
}
.banner-sm.style-2 p {
    line-height: 22px;
    margin: 0;
}
.product-action a.add-to-cart {
    width: 110px;
    margin: 0 5px;
}
.store-supports ul li {
    padding: 16px 15px 11px 15px;
	align-items: flex-start;
}
.store-supports ul li .support-icon {
    -ms-flex: 0 0 25%;
    flex: 0 0 30%;
    max-width: 30%;
}
.store-supports ul li .support-text {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.store-supports ul li .support-text p {
    font-size: 12px;
    line-height: 20px;
}
.support-text strong {
	font-size:14px;
}
.vertical-menu {
	padding:10px;
}
.vertical-menu ul li {
    margin-bottom: 11px;
}
.vertical-menu ul li a {
	font-size:13px;
}
.vertical-menu ul li:hover ul {
	margin-top:8px;
}
.price_slider_amount input[type="text"] {
    font-size: 16px;
}
.price_slider_amount button {
    width: 75px;
    height: 35px;
    line-height: 33px;
}
}

@media (max-width: 1220px){
    .count_cart_part{
        display: block;
    }
    .pro_counter{
        margin-bottom: 10px;
    }
    .pro_carts_icon ul{
        margin-bottom: 0px !important;
        margin-left: 10px;
    }
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.mt-md-30 {margin-top:30px;}
.mt-md-50 {margin-top:50px;}
	
.slider-caption h2 {
	font-size:36px;
}
.products-nav-tabs.horizontal li {
    width: 31.2%;
}
.store-support.style-3 {
    padding: 20px 8px;
  }

}
@media (max-width: 1140px){
    .condition_sidebar ul li i{
        margin-left: 30% !important;
    }
    .pr0_1_txt h5{
        font-size: 16px;
    }
    .catt_sidebar .btn-vis{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        float:none;
        overflow: hidden; 
    }
}
@media (max-width: 1065px){

}
@media (max-width: 1065px){
    .proo_display{
        display: none;
    }
    .proo_displayy{
        width: 100% !important;
    }
    .product_alll .col-lg-9{
        width: 100% !important;
        flex: 100%;
        max-width: 100%;
    }
}
@media (max-width: 768px){
    .proo_display{
        display: block;
    }
    .pro_all_sidebarss{
        margin-bottom: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 1111px){
    .range_sidebar i{
        margin-left: 20% !important;
    }
}
@media (max-width: 1100px){
    .cat_sidebar ul li i{
        margin-left: 20% !important;
    }

}
@media (max-width: 1061px){
    .feat_sidebar ul li i{
        margin-left: 20% !important;
    }
}
@media (max-width: 1013px){
    .condition_sidebar ul li i{
        margin-left: 20% !important;
    }
}
@media (max-width: 994px){
    .range_sidebar i{
        margin-left: 10% !important;
    }
}
 
/* Tablet desktop :768px. */
@media (max-width: 991px) {
    .proces input{
        margin-bottom: 10px;
    }
}

/* Tablet desktop :991px. */
@media (max-width: 991px) {
.mt-sm-0 {margin-top:0;}
.mt-sm-10 {margin-top:10px;}
.mt-sm-15 {margin-top:15px;}
.mt-sm-30 {margin-top:30px;}
.mt-sm-20 {margin-top:20px;}
.mt-sm-35 {margin-top:35px;}
.mt-sm-37 {margin-top:37px;}
.mt-sm-40 {margin-top:40px;}
.mt-sm-45 {margin-top:45px;}
.mt-sm-50 {margin-top:50px;}

.mt-sm-minus-100 {margin-top:-100px;}

.d-none-sm {
	display:none;
}
.cv-visible.slick-dotted.slick-slider {
    margin-bottom: 40px;
}
.modal.show .modal-dialog {
    max-width: 80%;
}
#scrollUp {
    width: 35px;
    height: 35px;
    line-height: 35px;
	right:15px;
}
.store-support.style-3 {
	text-align:left;
}
.desktop-header, .mainmenu-area {
	display:none;
}
.mobile-header {
	padding:10px 0;
	display:block;
}
.catitem{
	display:none;
}
.banitems{
	width:100%;
}
.slider-area .row{
	height:45vh;
}
.ban2{
	width:30%;
	margin-right:5%;
}
.ban1{
	width:30%;
	margin-right:5%;
}
.ban1 img{
	height:110px;
}
.ban3{
	width:30%;
}
.side_banner{
	display:flex;
	overflow:hidden;
	margin-top:30%;
}

	
.mmenu-icon {
    font-size: 18px;
    position: relative;
    z-index: 99;
    color: #fff;
    padding-left: 12px;
    padding-top: 5px;
}
.mmenu-icon:hover {
	color:#ffffff;
}
.mm-menu_offcanvas {
	z-index:99999;
}
.mm-menu_offcanvas .text-label {
	display:none;
}
.mm-panel, .mm-panels {
	background-color:#ffffff;
}
html .mm-menu~.mm-slideout:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    z-index: -100;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
html.mm-wrapper_opening .mm-menu~.mm-slideout:before {
    z-index: 100;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: not-allowed;
}
.collapse-menu {
    float: none;
    background: rgba(0, 136, 234, 1);
	text-align:right;
	border-radius:6px 6px 6px 6px
}
.collapse-menu .vm-dropdown {
	text-align:left;
    max-height: 410px;
    overflow-y: auto;
}
.collapse-menu > ul > li > ul {
    max-height: unset;
    padding: 15px;
}
.collapse-menu > ul > li > a {
    padding: 7px 10px 5px 15px;
    color: #e23e1d;
    color: #ffffff;
	display:inline-block;
}
.collapse-menu ul li ul li a {
	font-size:14px;
}
.collapse-menu > ul > li > a i {
	display:none;
}
.collapse-menu > ul > li > ul {
	border:1px solid #ebebeb;
}
.collapse-menu ul li ul li ul.mega-menu {
    transform-origin: top;
    top: 100%;
    left: unset;
    visibility: unset;
    opacity: unset;
    filter: unset;
    box-shadow: unset;
    padding: 0;
    position: unset;
    width: 100%;
    display: block;
    transform: scaleY(0);
    height: 0;
}
.collapse-menu ul li ul li ul.mega-menu .megamenu-single {
	padding-right:20px;
}
.collapse-menu ul li ul li.open ul.mega-menu {
    transform: scaleY(1);
    height: auto;
}
.collapse-menu ul li ul li.open {
	width:auto;
}
.collapse-menu ul li ul li a:hover {
	color:#191919;
}
.collapse-menu ul li ul li a:active {
	color:#e23e1d;
}
.collapse-menu ul li ul li:hover a .caret {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.collapse-menu ul li ul li.open a .caret {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.megamenu-single {
	display:block;
}
.product-nav-tabs.style-3 ul li a {
    margin-right: 25px;
}
.product-nav-tabs.style-3 ul li:last-child a {
	margin-right:0;
}
.subscribe-area.pd-25 {
	padding:25px 0 30px 0;
}
.subscribe-text {
    margin-bottom: 25px;
}
.error-msg {
    padding: 100px 0;
}
.comment-avatar {
    width: 25%;
}
.comment-desc {
    width: 75%;
}
.blog-comment-form.product-comment-form > h4::before {
    width: 65%;
}
/* checkout */
.sidebar-checkout {
	margin-top:50px;
}
.billing-form input, .billing-form select {
	border:1px solid #e5e5e5;
}
.slider-top {
	display:none;
}
.vm-dropdown {
	display:none;
}
.slider-area .pl-0 {
	padding-left:20px !important;
}
.product-details-desc {
    border-right: none;
    padding-right: 0;
    margin-top: 20px;
}
.product-details-desc h2 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
}
.product-price-rating .pull-right {
	float:none;
}
.product-details-thumb {
	text-align:center;
}
.product-single.p-black .product-action .product-compare, .product-single.p-black .product-action .product-wishlist {
	display:none;
}
.product-offer-area.bg-black {
    padding: 50px 0;
}
}

/* Large Mobile :767px. */
@media (max-width: 767px) {
.mt-xs-30 {margin-top:30px;}

.megamenu-single {
    display: block !important;
}
.payment-gateways.pull-right {
	float:none;
	margin-top:10px;
}
.banner-md .banner-info p {
    font-size: 18px;
    line-height: 30px;
}
.text-block.text-center {
    margin-top: 45px;
    padding-bottom: 50px;
}
.social-icons.style-2 {
	margin-bottom:15px;
}
.social-icons.style-2 strong {
    display: none;
}
.office-address {
	margin-top:20px;
}
.blog-desc {
    margin-top: 12px;
}
.blog-title h2 {
    font-size: 24px;
    line-height: 36px;
}
.social-icons.style-5.text-right {
	text-align:left !important;
	margin-top:10px;
}
.comment-desc {
    padding-left: 20px;
}
.blog-comments ul li ul {
    margin-left: 50px;
    margin-top: 25px;
}
.customer-supporter h1 {
    font-size: 36px;
    line-height: 48px;
}
.coming-soon-msg h1 {
    font-size: 36px;
}
.coming-countdown span.time-count {
  font-size:36px;
}
.product-description h2 {
    font-size: 24px;
    line-height: 36px;
}
.site-image h3 {
    display: none;
}
.products-nav-tabs li {
    margin-right: 10px;
}
.compare-action a {
    margin: 10px 5px;
}
.cart-steps li {
    float: none;
    width: 100%;
	margin-bottom:20px;
}
.cart-steps li:last-child {
	margin-bottom:0;
}
.product-action .product-compare, .product-action .product-wishlist {
	display:none;
}
}

/* Mobile issues fix :320 and 360. */
@media only screen and (min-width: 320px) and (max-width: 360px) {

.banner-md .banner-info {
    padding: 10px;
}
.banner-md .banner-info p {
    margin-bottom: 5px;
}
.banner-md .banner-info p br {
	display:none;
}
.product-review-nav {
	background-color:transparent;
}
.product-review-nav li {
    display: block;
	margin-bottom:10px;
}
.product-review-nav li a {
	background-color:#eceff6;
}
.product-nav-tabs ul li {
    display: block;
}
.product-nav-tabs ul li a.active::before {
	display:none;
}
.product-nav-tabs {
    padding: 0 20px;
    margin-top: 10px;
}
.section-title {
    padding-left: 5px;
}
.section-title h3 {
	font-size:16px;
}
.banner-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.banner-info .btn-common {
	margin-top:5px;
}
.product-nav-tabs.text-center {
	text-align:left !important;
}
.slick-slider .slick-dots {
	margin-top:20px;
}
.products-nav-tabs.horizontal.quick-view li {
    width: 30.7%;
}
.product-single:hover .product-action {
	opacity:0;
	filter: alpha(opacity=0);
	visibility:hidden;
}
.cart-dropdown {
	width:280px;
	padding:15px !important;
}
.mini-cart ul li ul {
	padding-bottom:0;
}
.mini-cart-remove {
	padding:0;
}
.product-single.p-black .product-action .product-compare, .product-single.p-black .product-action .product-wishlist {
	display:inline-block;
}
}

@media only screen and (max-width: 480px) {
.search-box select {
	display:none;
}
.search-box input {
    width: 75%;
}
.search-box button {
    width: 25%;
}

.slider-caption h2 {
	font-size:36px;
	line-height:48px;
}
.product-nav-tabs {
    padding: 0 15px;
    margin-top: 20px;
}
.product-nav-tabs.style-3 .nav.nav-tabs.text-right {
	text-align:left !important;
}
.product-single.wide-style .product-title h4 {
    font-size: 18px;
    line-height: 30px;
}
.product-desc {
	margin-top:50px;
}
.product-thumb {
	text-align:center;
}
.product-nav-tabs.style-2 ul li a {
    margin-right: 15px;
	padding:5px 0;
}
}

@media only screen and (max-width: 575px) {
    .billings .col-sm-6 {
        width: 50% !important;
    }
}
/**responsive**/
@media only screen and (min-width: 1370px) and (max-width: 1600px) {
    .p_carts{
        margin-left: -30px;
    }
}
@media only screen and (min-width: 1520px) and (max-width: 1600px) {
    .p_carts{
        margin-left: -50px;
    }
    .mrbf img{
        width: 105%;
    }
    .mrb img{
        width: 105%;
        margin-left: 15px;
    }
}
@media only screen and (min-width: 1550px) and (max-width: 1600px) {
    .mrbf img{
        width: 105%;
    }
    .mrb img{
        width: 105%;
        margin-left: 20px;
    }
     
}
@media only screen and (min-width: 1420px) and (max-width: 1600px) {
    .out_text{
        margin-top: -85%;
        margin-left: 30px;
    }

}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
    .catitem{
        display: none;
    }

}
@media only screen and (max-width: 1037px){
     .banners .col-lg-3{
        width: 50% !important;
     }
}
@media only screen and (max-width: 1199px){
     .mbimg{
        display: none;
     }
     .mbb .col-lg-9{
        width: 100%;
     }
     .out_items_2{
        margin-left: 0px;
        margin-right: 0px;
     }
     .out_items_1{
        margin-left: 0px;
        margin-right: 0px;
     }
     .all_out_items{
        margin: 0px;
        padding: 0px;
     }
}
@media only screen and (max-width: 1175px){
    .cs-hidden{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1156px){
    .login, .becom{
        margin-top: -20%;
    }
}
@media only screen and (max-width: 991px){
    .side_banner{
        margin-top: 0%;
        margin-top: 10px;
    }
   
    .all_offers{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 40px;
        border-right: none;
        width: 150%;
    }
    .offer_ban_1, .offer_ban_2, .offer_ban_3, .offer_ban_4, .offer_ban_5{
        border-top: 1px solid rgba(222, 226, 231, 1);
        width: 211.61441040039062px;
        height: 220.8177795410156px;
        background: rgba(255, 255, 255, 1);
        border-right: 1px solid rgba(222, 226, 231, 1);
    }
    .offer_info p{
        margin-top: 10%;
    }
    .banners .col-lg-9{
        padding: 0px;
    }
    .banners .col-lg-3{
        border-right: none !important;
    }
    .offer_time{
        margin-bottom: 20px;
        overflow: hidden;
    }
    .offer_text{
        float:left;
        overflow: hidden;
        margin-right: 10%;
    }
     .mbb{
       overflow: hidden; 
    }
    .sell_profff{
        display: none;
    }
    .count_cart_part{
        display: flex;
    }
}
@media only screen and (max-width: 1175px){
        .all_selling_pro{
            display: block;
        }
        .sell_pro_1, .sell_pro_2{
            float: left;
            overflow: hidden;
            margin-right: 10%;
        }
        .sell_pro_3{
            overflow: hidden;
        }
        .sell_pro_4{
            display: none;
        }
        .sell_pro_1, .sell_pro_2, .sell_pro_3{
            width: 100%;
            height: 435px;
        }
        .title_right {
          left: 80%;
          position: absolute;
          margin-top: 20px;
      }

}
@media only screen and (max-width: 975px){
    .p_carts{
        margin-left: -30px;
    }
}
@media only screen and (max-width: 767px){
    .left-column img{
        height: 351px;
    }
    .pro_small_img{
        top: 62%;
    } 
    .count_cart_part{
        margin-left: -125%;
        margin-top: -30%;
    }
    .pro_carts_icon ul{
        margin-left: -240%;
    }
    .but_part{
        margin-left: -110%;
        margin-right: 100%;
    }
    .colsmms{
        display: none;
    }
}
@media only screen and (max-width: 720px){
    .pro_detailes_part .col-sm-6{
        flex: 100%;
        max-width: 100%;
    }
    .pro_carts_icon ul{
        margin-left: 0%;
    }
    .but_part{
        margin-left: 0%;
        margin-right: 0%;
    }
    .fanled{
        margin-top: 95% !important;
        overflow: hidden;
    }
    .left-column img{
        height: 501px;
    }

    .pro_small_img{
        top: 2650%;
        width: 95%;
        overflow: hidden; 
    }
    .pro_detailes_part{
        overflow: none !important; 
    }
    .pro_detailes_part .row{
       
    }
    .count_cart_part {
        margin-left: 0%; 
        margin-top: 0%; 
    }
}
@media only screen and (max-width: 700px){
    .fanled{
        margin-top: 100% !important;
    }
}
@media only screen and (max-width: 663px){
    .fanled{
        margin-top: 106% !important;
    }
    .pro_model table {
        border: 1px solid #E0E7E9;
        width: 469.95px;
        height: 180px;
    }
}
@media only screen and (max-width: 630px){
    .fanled{
        margin-top: 110% !important;
    }
    .gpro3{
        display: none;
    }
    .iitemss .collsm6{
        width: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 600px){
    .fanled{
        margin-top: 115% !important;
    }
}
@media only screen and (max-width: 575px){
    .fanled{
        margin-top: 120% !important;
    }
    .pro_model table {
        border: 1px solid #E0E7E9;
        width: 400.95px;
        height: 180px;
    }
}
@media only screen and (max-width: 553px){
    .fanled{
        margin-top: 128% !important;
    }
    .pro_menu_sec ul li {
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 518px){
    .fanled{
        margin-top: 135% !important;
    }
}
@media only screen and (max-width: 490px){
    .fanled{
        margin-top: 145% !important;
    }
    .pro_model table {
        border: 1px solid #E0E7E9;
        width: 300.95px !important;
        height: 180px;
    }
}
@media only screen and (max-width: 460px){
    .fanled{
        margin-top: 155% !important;
    }
    .pro_menu_sec ul li {
        padding: 10px 0px 10px 10px;
    }
}
@media only screen and (max-width: 428px){
    .fanled{
        margin-top: 165% !important;
    }
    .home_all{
        display: none;
    }
    .pro_detailes_part{
        margin-top: 20px;
    }
    .left-column img {
        height: 301px;
    }
    .pro_small_img{
        top: 1700%;
    }
    .fanled{
        margin-top: 110% !important;
    }

}
@media only screen and (max-width: 411px){
    .fanled{
        margin-top: 115% !important;
    }
    .iitemss .collsm6{
        width: 100% !important;
        flex: 100% !important;
        max-width: 100% !important;
        margin-bottom: 20px;
    }
    .itemss{
        display: block !important;
    }
}
@media only screen and (max-width: 390px){
    .pro_model table {
        border: 1px solid #E0E7E9;
        width: 250.95px !important;
        height: 180px;
    }
}
@media only screen and (max-width: 343px){
    .pro_model table {
        border: 1px solid #E0E7E9;
        width: 200.95px !important;
        height: 180px;
    }
}
@media only screen and (max-width: 288px){
    .pro_model table {
        border: 1px solid #E0E7E9;
        width: 180.95px !important;
        height: 180px;
    }
    .billings{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 383px){
    .fanled{
        margin-top: 125% !important;
    }
}
@media only screen and (max-width: 377px){
    .pro_menu_sec ul{
        display: block;
    }
    .size_part{
        display: block;
    }
}
@media only screen and (max-width: 353px){
     .fanled{
        margin-top: 135% !important;
    }
    .pro_price_part h5{
        font-size: 16px;
    }
    .color_part{
        display: block;
    }
    .billings .bill_pay{
        width: 100% !important;
    }
    .billings .shiiping-tt{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 345px){
    .billings .pro-imge{
        display: block !important;
    }
    .billings .prootx p{
        margin-left: -20px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 329px){
    .left-column img {
        height: 250px;
    }
    .pro_small_img {
        top: 1400%;
        width: 90%;
    }
    .fanled {
        margin-top: 125% !important;
    }

}
@media only screen and (max-width: 267px){
    .bill_form h2{
        font-size: 18px;
    }
    .bill_box p{
        font-size: 12px;
    }
    .billings{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 296px){
    .fanled {
        margin-top: 145% !important;
    }
}
@media only screen and (max-width: 260px){
    .fanled {
        margin-top: 155% !important;
    }
}
@media only screen and (max-width: 246px){
    .fanled {
        margin-top: 175% !important;
    }
}
@media only screen and (max-width: 409px){
    .count_cart_part{
        display: block !important;
    }
    .pro_counter{
        margin-left: -10px;
    }
}



@media only screen and (max-width: 832px){
    .pro_carts_icon ul li{
        margin-right: 5px;
    }
}
@media only screen and (max-width: 975px){
    .rating p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 1156px){
    .title_lefts{
        display: none;
    }
    .CAT_STORE_11, .CAT_STORE_12, .CAT_STORE_1, .CAT_STORE_2, .CAT_STORE_3,
    .CAT_STORE_4, .CAT_STORE_5, .CAT_STORE_6, .CAT_STORE_7, .CAT_STORE_8, 
    .CAT_STORE_9, .CAT_STORE_10{
        float: none;
        width: 33%;
        overflow: hidden;
        margin-left: 0px;
    }
    .CAT_STORE_1, .CAT_STORE_2, .CAT_STORE_4, .CAT_STORE_5,
    .CAT_STORE_7, .CAT_STORE_8, .CAT_STORE_10, .CAT_STORE_11{
        float: left;
        overflow: hidden;
    }
    .CAT_STORE_7, .CAT_STORE_11{
        margin-right: 0px;
    }
    .CAT_STORE_9{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 860px){
    .out_items_1, .out_items_2{
        display: block; 

    }
    .out_item_1, .out_item_2, .out_item_11, .out_item_22{
        float: left;
        overflow: hidden;
    }
    .out_item_3, .out_item_33{
        overflow: hidden;
        border-right: none;
    }
    .out_item_1, .out_item_2, .out_item_3, .out_item_11, .out_item_22, .out_item_33{
        width: 32.88%;
    }
    .out_item_4, .out_item_44{
        display: none;
    }
    .p_carts{
        margin-left: -60px;
    }
    .rating p{
        font-size: 12px;
    }

}
@media only screen and (max-width: 935px){
    .SHOP_STORE_1, .SHOP_STORE_2, .SHOP_STORE_3, 
    .SHOP_STORE_4, .SHOP_STORE_5, .SHOP_STORE_6{
        float: none;
        width: 48%;
        overflow: hidden;
    }
    .SHOP_STORE_1, .SHOP_STORE_2, .SHOP_STORE_3 {
        margin-bottom: 0px;
    }
    .SHOP_STORE_1, .SHOP_STORE_3, .SHOP_STORE_5{
        float: left;
        overflow: hidden;
    }
}
@media only screen and (max-width: 820px){
    .title_lefts{
        display: none;
    }
    .CAT_STORE_11, .CAT_STORE_12, .CAT_STORE_1, .CAT_STORE_2, .CAT_STORE_3,
    .CAT_STORE_4, .CAT_STORE_5, .CAT_STORE_6, .CAT_STORE_7, .CAT_STORE_8, 
    .CAT_STORE_9, .CAT_STORE_10{
        float: none;
        width: 48%;
        margin-left: 0px;
        overflow: hidden;
    }
    .CAT_STORE_1, .CAT_STORE_3, .CAT_STORE_5, .CAT_STORE_7, .CAT_STORE_9, .CAT_STORE_11{
        float: left;
        overflow: hidden;
        margin-right: 10px;
    }
    .CAT_STORE_10, .CAT_STORE_9{
        margin-bottom: 20px;
    }
    
}
@media only screen and (max-width: 635px){
   .out_item_1, .out_item_2, .out_item_3, .out_item_11, .out_item_22, .out_item_33{
        width: 49%;
    } 
    .out_item_2{
        float: none;
    }
    .out_item_3, .out_item_33{
        display: none;
    }
    .out_item_2, .out_item_4, .out_item_22, .out_item_44{
        border-right: none;
    }
}

@media only screen and (max-width: 767px){
    .sell_pro_2{
        float: none;
        overflow: hidden;
    }
    .sell_pro_4{
        display: block;
        overflow: hidden;
    }
    .sell_pro_3{
        float: left;
        overflow: hidden;
    }
    .sell_pro_1, .sell_pro_2, .sell_pro_3, .sell_pro_4{
        width: 100%;
        height: auto;
    }
    .sell_pro_3, .sell_pro_4{
        margin-top: 20px;
    }
    .sell_pro_1, .sell_pro_3{
        margin-right: 0%;
    }
    .sell_pro_2, .sell_pro_4{
        margin-right: 0%;
    }
    .all_selling_pro{
        margin-top: 6%;
    }
    .category_tog{
        display: none;
    }


}
@media only screen and (max-width: 596px){
    .sell_pro_1, .sell_pro_2, .sell_pro_3, .sell_pro_4, .sell_pro_11, .sell_pro_22, .sell_pro_33, .sell_pro_44{
        float: none;
        overflow: hidden;
        width: 100%;
    }
    .selling_pro{
        align-items: center !important;
        display: block;
        margin-left: auto ;
        margin-right: auto ;
        justify-content: center; 
    }
    .all_selling_pro{
        margin-top: 10%;
    }
    .title_left hr{
        width: 100%;
    }
    
}
@media only screen and (max-width: 667px){
    .title_right{
        left: 70%;
    }
    .shop_mg img{
        width: 100%;
    }
}
@media only screen and (max-width: 991px){
    .b_banner img{
        width: 100%;
        height: 325.59px;
        border-radius: 6px; 
    }
    .slider-area .row{
        height: 472.8813781738281px;
        background: #fff;
        border: 1px solid rgba(222, 226, 231, 1);
        margin-top: 22px;
        margin-left: 22px;
        margin-right: 22px;
        border-radius: 6px;
    }
    .footer-area{
        padding: 0px;
        padding-bottom: 5px;
    }
    .f_logo{
        margin-top: -14%;
    }
    .supp, .empty1{
        margin-bottom: 20px;
    }
    .pro_display{
        display: none;
    }
}
@media only screen and (max-width: 780px){
   .all_offer_ban{
    display: block;
   }
   .offer_ban_1, .offer_ban_2, .offer_ban_4, .offer_ban_5{
    float:left;
    overflow: hidden; 
   }
   .offer_ban_3, .offer_ban_5{
    overflow: hidden; 
   }
    
    .mbd{
        display: block;
        border-right: none;
    }
    .offer_ban_3{
        border-right: none; 
    }
   .offer_img{
    padding-top: 0px;
   }
   .offer_ban_1, .offer_ban_2, .offer_ban_3, .offer_ban_4, .offer_ban_5{
        border-top: 1px solid rgba(222, 226, 231, 1);
        width: 33.333%;
        height: 220.8177795410156px;
    }
    .mbb{
       overflow: hidden; 
    }

}

@media only screen and (max-width: 656px){
    .all_offers{
         width: 250%;
    }
}
@media only screen and (max-width: 755px){
    .title_left hr {
        width: 100%;
    }

}
@media only screen and (max-width: 575px){
    .p_carts{
        margin-left: 45%;
        margin-top: -20%;
    }
   
    .sell_pro_2{
        margin-top: 20px;
    }
    .photo img{
        width: 100%;
    }
    .sell_pro_1, .sell_pro_2, .sell_pro_3, .sell_pro_4{
        height: auto;
    }
    .itemss .colsm6{
        width: 50%;
    }
    .colsm66{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .itemss .colsm6{
        width: 50%;
    }
    .colsm66{
        display: none;
    }
}


@media only screen and (max-width: 623px){
    .CAT_STORE_11, .CAT_STORE_12, .CAT_STORE_1, .CAT_STORE_2, .CAT_STORE_3,
    .CAT_STORE_4, .CAT_STORE_5, .CAT_STORE_6, .CAT_STORE_7, .CAT_STORE_8, 
    .CAT_STORE_9, .CAT_STORE_10{
        float: none;
        overflow: hidden;
        width: 100%;
        margin-left: 0px;
    }
    .CAT_STORE_9, .CAT_STORE_10, .CAT_STORE_11{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 533px){
    .pagination {
      margin-left: 5%;
    }
}
@media only screen and (max-width: 540px){
    .SHOP_STORE_1, .SHOP_STORE_2, .SHOP_STORE_3, 
    .SHOP_STORE_4, .SHOP_STORE_5, .SHOP_STORE_6{
        float: none;
        overflow: hidden;
        width: 100%;
    }
    .CAT_STORE_11, .CAT_STORE_12, .CAT_STORE_1, .CAT_STORE_2, .CAT_STORE_3,
    .CAT_STORE_4, .CAT_STORE_5, .CAT_STORE_6, .CAT_STORE_7, .CAT_STORE_8, 
    .CAT_STORE_9, .CAT_STORE_10{
        float: none;
        overflow: hidden;
        width: 100%;
        margin-left: 0px;
    }
    .CAT_STORE_9, .CAT_STORE_10, .CAT_STORE_11{
        margin-bottom: 20px;
    }
    
   
    .fw{
        margin-left: 20px;
    }
    
}
@media only screen and (max-width: 575px){
    .all_a, .title_lefts, .empty, .empty1{
        display: none;
    }
     .supp{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-area{
        margin-top: 0px;
        padding-bottom: 5px;
    }
    .f_logo img{
        display: inline;
    }

}
@media only screen and (max-width: 499px){
    .p_carts{
        margin-top: -12%;
    }

} 

@media only screen and (max-width: 455px){
    .title_right {
      left: 60%;
    }
}
@media only screen and (max-width: 472px){
    .sell_pro_1, .sell_pro_2, .sell_pro_3, .sell_pro_4 {
      height: 535px;
    }
    
    .out_item_1, .out_item_2, .out_item_3, .out_item_11, .out_item_22, .out_item_33 {
      width: 100%;
      float: none;
      overflow: hidden;
    }
    .out_item_3, .out_item_4, .out_item_44, .out_item_33{
        display: block;
    }
   
    .out_item_1, .out_item_2, .out_item_3, .out_item_11, .out_item_22, .out_item_33 {
        border-right: none;
        border-bottom: 1px solid #E0E0E0;
    }
    .out_item_44, .out_item_4{
        width: 100%;
    }

}
@media only screen and (max-width: 428px){
    .photo img {
      width: 100%;
    }
    .p_carts {
      margin-left: 35%;
      margin-top: -15%;
    }
    .ban1, .ban2{
        display: none;
    }
    .ban3{
        width: 100%;
        margin-right: 0%;
    }
    .title_left p{
        font-size: 16px;
    }
    .sell_pro_1, .sell_pro_2, .sell_pro_3, .sell_pro_4 {
      height: auto;
    }

    .m_ban{
        display: none;
    }
}
@media only screen and (max-width: 328px){
    .f_logo img{
        width: 50%;
    }
}
@media only screen and (max-width: 360px){
    .shop_mg img{
        width: 100%;
    }
    .shop_inf p {
        font-size: 12px;
    }
    .v_stor{
        width: 90px;
    }
    .title_right{
        display: none;
    }
}
@media only screen and (max-width: 349px){
    .photo img {
      width: 100%;
    }
    .title_right {
      left: 55%;
    }
    .p_carts {
      margin-left: 35%;
      margin-top: -20%;
    }
    .f_logo img{
        width: 60%;
        margin: none;
        display: inline;
    }
    .footer-area{
        margin-top: 0px;
        padding-bottom: 5px;
    }
    .sell_pro_1, .sell_pro_2, .sell_pro_3, .sell_pro_4 {
      height: auto;
    }

    .title_right a{
       width: 75px;
       height: 35px;
    }
    .all_offers{
        margin-left: 0px;
    }
    .offer_ban_1, .offer_ban_2, .offer_ban_4, .offer_ban_5, .offer_ban_3 {
      float: none;
      overflow: hidden;
      
    }
    .offer_ban_1, .offer_ban_2, .offer_ban_3, .offer_ban_4, .offer_ban_5 {
      width: 100% !important;
    }

    .b_banner img {
      width: 100%;
      height: 155.59px !important;
      border-radius: 6px;
    }
    .side_banner{
        margin-top: 0px;
    }
    .slider-area .row{
        height: 322.8813781738281px !important;
    }
    .lat, .ele {
        font-size: 14px !important;
    }
    .ele{
        margin-top: 0px;
    }
    .ban-button{
        width: 90px;
        height: 30px;
        margin-top: -30px;
    }
    .ban-button a {
      font-size: 10px;
      font-weight: 400;
      line-height: 35px;
    }
}
@media only screen and (max-width: 307px){
    .title_right{
        display: none;
    }
    .photo img {
      width: 100%;
    }
    .point{
        width: 165px;
    }
    .itemss .colsm6{
        width: 100%;
    }
    .colsm{
        display: none;
    }
    
}

@media only screen and (max-width: 556px){
    .offer_text{
        float: none;  
    }
    
    .offer_ban_2, .offer_ban_4{
        float: none;
        overflow: hidden;
    }
    .offer_ban_3{
        float: left;
        overflow: hidden; 
        border-right: 1px solid rgba(222, 226, 231, 1);
    }
    .mbd{
        overflow: hidden; 
        border-right: 1px solid rgba(222, 226, 231, 1);
    }
     .mbb{
       overflow: hidden; 
    }
    .offer_ban_1, .offer_ban_2, .offer_ban_3, .offer_ban_4, .offer_ban_5{
        width: 50%;
    }
    .billings{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 400px){
    .pagination {
      margin-left: 0%;
      width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .b_banner img{
        width: 100%;
        height: 225.59px;
        border-radius: 6px; 
    }
    .slider-area .row{
        height: 402.8813781738281px;
        background: #fff;
        border: 1px solid rgba(222, 226, 231, 1);
        margin-top: 22px;
        margin-left: 22px;
        margin-right: 22px;
        border-radius: 6px;
    }
    .billings{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 363px){
    .pagcom{
        display: none;
    }
}
@media only screen and (max-width: 340px){
    .vv_stor a {
        text-align: left;
        font-size: 12px;

    }
    .vv_stor{
        width: 110px;
    }
    
}
@media only screen and (max-width: 280px){
    .p_carts {
        margin-left: 38% !important;
        margin-top: -25%;
    }
    .footer-area{
        padding-bottom: 5px;
        margin-top: 0px;
    }
    .vv_stor a {
        text-align: left;
        font-size: 12px;

    }
    .vv_stor{
        width: 110px;
    }
    
}
@media only screen and (max-width: 656px){
   *{
    margin: 0;
    padding: 0;
   }
   
}

@media (min-width: 768px) and (max-width: 991px){
    .proces button{
        font-size: 10px;
    }
}
@media only screen and (max-width: 378px){
    .proces button{
        font-size: 10px;
    }
}
@media only screen and (max-width: 300px){
    .proces button{
        font-size: 7px;
    }
}
@media only screen and (max-width: 266px){
    .procec a{
        font-size: 12px;
    }
}